USE [master]
GO
/****** Object:  Database [DBPhanCongViec]    Script Date: 4/25/2023 9:04:11 PM ******/
CREATE DATABASE [DBPhanCongViec]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBPhanCongViec', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DBPhanCongViec.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBPhanCongViec_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DBPhanCongViec_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBPhanCongViec].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBPhanCongViec]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 4/25/2023 9:04:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CongViecs]    Script Date: 4/25/2023 9:04:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongViecs](
	[idCongViec] [int] IDENTITY(1,1) NOT NULL,
	[tenCongViec] [nvarchar](255) NOT NULL,
	[moTa] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.CongViecs] PRIMARY KEY CLUSTERED 
(
	[idCongViec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDungs]    Script Date: 4/25/2023 9:04:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDungs](
	[idNguoiDung] [int] IDENTITY(1,1) NOT NULL,
	[taiKhoan] [nvarchar](255) NOT NULL,
	[matKhau] [nvarchar](255) NOT NULL,
	[hoTen] [nvarchar](255) NOT NULL,
	[soDienThoai] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
	[diaChi] [nvarchar](max) NULL,
	[idQuyen] [int] NOT NULL,
 CONSTRAINT [PK_dbo.NguoiDungs] PRIMARY KEY CLUSTERED 
(
	[idNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanCongs]    Script Date: 4/25/2023 9:04:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanCongs](
	[idPhanCong] [int] IDENTITY(1,1) NOT NULL,
	[ngayGiao] [nvarchar](max) NULL,
	[ngayHoanThanh] [nvarchar](max) NULL,
	[tinhTrang] [nvarchar](max) NULL,
	[danhGia] [nvarchar](max) NULL,
	[idNguoiDung] [int] NOT NULL,
	[idCongViec] [int] NOT NULL,
 CONSTRAINT [PK_dbo.PhanCongs] PRIMARY KEY CLUSTERED 
(
	[idPhanCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quyens]    Script Date: 4/25/2023 9:04:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quyens](
	[idQuyen] [int] IDENTITY(1,1) NOT NULL,
	[tenQuyen] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_dbo.Quyens] PRIMARY KEY CLUSTERED 
(
	[idQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CongViecs] ON 

INSERT [dbo].[CongViecs] ([idCongViec], [tenCongViec], [moTa]) VALUES (3, N'Viết Unit Test cho các function', N'Viết Unit Test cho các function của hệ thống
')
SET IDENTITY_INSERT [dbo].[CongViecs] OFF
GO
SET IDENTITY_INSERT [dbo].[NguoiDungs] ON 

INSERT [dbo].[NguoiDungs] ([idNguoiDung], [taiKhoan], [matKhau], [hoTen], [soDienThoai], [email], [diaChi], [idQuyen]) VALUES (1, N'quanly', N'123456', N'Lê Văn An', N'0394073645', N'levanan@gmail.com', N'Hà Nội', 1)
INSERT [dbo].[NguoiDungs] ([idNguoiDung], [taiKhoan], [matKhau], [hoTen], [soDienThoai], [email], [diaChi], [idQuyen]) VALUES (3, N'minhnha', N'123456', N'Minh Nhã', N'0394073645', N'minhnha@gmail.com', N'Hà Nội', 2)
SET IDENTITY_INSERT [dbo].[NguoiDungs] OFF
GO
SET IDENTITY_INSERT [dbo].[Quyens] ON 

INSERT [dbo].[Quyens] ([idQuyen], [tenQuyen]) VALUES (1, N'Quản lý')
INSERT [dbo].[Quyens] ([idQuyen], [tenQuyen]) VALUES (2, N'Nhân viên')
SET IDENTITY_INSERT [dbo].[Quyens] OFF
GO
/****** Object:  Index [IX_idQuyen]    Script Date: 4/25/2023 9:04:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_idQuyen] ON [dbo].[NguoiDungs]
(
	[idQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_idCongViec]    Script Date: 4/25/2023 9:04:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_idCongViec] ON [dbo].[PhanCongs]
(
	[idCongViec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_idNguoiDung]    Script Date: 4/25/2023 9:04:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_idNguoiDung] ON [dbo].[PhanCongs]
(
	[idNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NguoiDungs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.NguoiDungs_dbo.Quyens_idQuyen] FOREIGN KEY([idQuyen])
REFERENCES [dbo].[Quyens] ([idQuyen])
GO
ALTER TABLE [dbo].[NguoiDungs] CHECK CONSTRAINT [FK_dbo.NguoiDungs_dbo.Quyens_idQuyen]
GO
ALTER TABLE [dbo].[PhanCongs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PhanCongs_dbo.CongViecs_idCongViec] FOREIGN KEY([idCongViec])
REFERENCES [dbo].[CongViecs] ([idCongViec])
GO
ALTER TABLE [dbo].[PhanCongs] CHECK CONSTRAINT [FK_dbo.PhanCongs_dbo.CongViecs_idCongViec]
GO
ALTER TABLE [dbo].[PhanCongs]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PhanCongs_dbo.NguoiDungs_idNguoiDung] FOREIGN KEY([idNguoiDung])
REFERENCES [dbo].[NguoiDungs] ([idNguoiDung])
GO
ALTER TABLE [dbo].[PhanCongs] CHECK CONSTRAINT [FK_dbo.PhanCongs_dbo.NguoiDungs_idNguoiDung]
GO
USE [master]
GO
